<header>
    <a href="" class="logo"><img src="assets/logo.png" alt="" class="logo__img"> ДРАФТЕР</a>
    <ul>
        <li><a href="#" target="_blank">Lorem</a></li>
        <li><a href="#" target="_blank">Ipsum</a></li>
        <li><a href="#" target="_blank">Lorem ipsum</a></li>
    </ul>
    <div class="lang-choice">
        <img src="assets/ru.svg" alt="" class="lang-choice--current">
        <img src="assets/en.svg" alt="" class="lang-choice--unactive">
        <img src="assets/de.svg" alt="" class="lang-choice--unactive">
    </div>
</header>