/* import and media queries*/

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap&subset=cyrillic');
@media screen and (min-width: 655px) {
  #wrapper{
   width: 625px;
  }
}
@media screen and (min-width: 963px) {
  #wrapper{
   width: 930px;
  }
}
@media screen and (min-width: 1265px) {
  #wrapper{
   width: 1235px;
  }
}
@media screen and (min-width: 1570px) {
  #wrapper{
   width: 1540px;
  }
}

/* there im trying to fix inputs styles */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* selection off */
*::selection{
  opacity: 0;
}
/* then text decoration off*/
a, li, button, #logo{
 text-decoration: none;
}
/* PAGE STYLES START  */
input, button{
  outline: none;
}
*{
 font-family: Fira Mono;
 font-weight: 700;
 cursor: url('../img/cursor-default.png'), default;
}
body{
 background:radial-gradient(60.32% 60.32% at 50% 39.68%, rgba(6, 34, 56, 0.266) 0%, rgba(3, 25, 43, 0.7) 54%), url(../img/background-min.png);
 background-size: cover;
 background-attachment: fixed;
}
/*modal window*/
#modal_overlay{
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
  transition: .3s all;
}
.modal_window{
  position: absolute;
  top: 240px;
  left: calc(50% - 215px);
  width: 560px;
  height:190px;
}
.modal_window_text_background{
  position: absolute;
  background: url(../img/modal/textbackground.svg) no-repeat;
  width: 450px;
  height: 190px;
  text-align: center;
}
#modal_overlay.activeOverlay{
  opacity: 1;
  visibility: visible;
}
.left_ornament{
  position: absolute;
  left: 5px;
  top:6px;
}
.right_ornament{
  position: absolute;
  right: 5px;
  top:6px;
  transform: scale(-1, 1);
}
.helper{
  position: absolute;
  top: 0;
  right: 0;
}
.modal_window_text_background > *{
  margin-right: 18px;
}
.modal_window_text_background > h2{
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #132643;
}
.modal_window_text_background > p{
  padding: 0 20px;
  font-family: Fira Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #464F5B;
  letter-spacing: -0.5px
}
.modal_window_text_background > button{
  position: absolute;
  bottom: 20px;
  left: calc(50% - 89px);
  color: white;
  height: 30px;
  width: 160px;
}
/*starting with wrapper, width from media querries*/
#wrapper{
 margin: 0 auto;
}
/*then header*/
header{
 width: 100%;
 height: 90px;
 display: flex;
 justify-content: flex-end;
 align-items: center;
}
.logo{
 margin-right: auto;
 font-size: 24px;
 padding-left: 12px;
 color: #D0D4D9;
}
.logo_img{
  height: 50px;
}
header ul{
 list-style: none;
}
header ul li{
 display: inline-block;
 padding: 0 20px;
}
header ul li a{
 color: #D0D4D9;
 font-size: 16px;
}
/*default styles for buttons*/
.default_button{
 position: relative;
 background: radial-gradient(98.37% 1898.34% at 98.37% 50%, #0B364A 0%, #105062 44.79%, #0B364A 100%);
 border: 2px solid #05243C;
 box-shadow: 4px 4px 4px rgba(4, 25, 42, 0.3);
 border-radius: 5px;
 color: #D0D4D9;
 z-index: 1;
}
